{% extends 'base.html' %}

{% block content %}
<style>
.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.memory-list {
  list-style: none;
  padding: 0;
  margin: 0;

}

.memory-list li {
  margin-bottom: 10px;

 // background-color: orange;
  border-radius: 25px;
  width: 400px;

}
.memory-list li a {
font-size: 15pt;
width: 100%;
}








</style>
<!-- User profile header -->
<div class="profile-header">
    <div class="centered-content">
        <img alt="Profile Picture" class="profile-picture"
             src="{{ profile_picture }}" style="border-radius: 15%;">
        <h1 style="margin-top: 10px; margin-bottom: 20px; color:#272b38;">
            {{user.first_name }} {{ user.last_name }}</h1>
    </div>
</div>

<div class="centered-content">
    <!-- Add memory button -->
    <a class="btn btn-warning" href="{% url 'add_memory' %}"
       style="width: 300px; font-size: 20pt;">Add a new memory</a><br>

    <!-- Memory list -->
    {% if memories %}
    <ul class="memory-list">
        {% for memory in memories %}
        <li><a class="btn btn-outline-dark"
               href="{% url 'display_memory' memory.id %}">{{ memory }}</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <h2>There are no memories yet. Try adding a new one!</h2>
    {% endif %}
</div>

<!-- Logout button -->
{# <a class="btn btn-danger" href="{% url 'logout' %}">Выйти</a> #}
{% endblock %}
