{% extends 'base.html' %}

{% block content %}
<style>
.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

</style>
  <!-- User profile header -->
  <div class="profile-header">
    <div class="centered-content">
      <img src="{{ profile_picture }}" alt="Profile Picture" class="profile-picture" style="border-radius: 15%;">
      <h1 style="margin-top:10px; margin-bottom:20px;">{{user.first_name}} {{user.last_name}}</h1>
    </div>
  </div>

  <div class="centered-content">
  <!-- Add memory button -->
  <a href="{% url 'add_memory' %}" class="btn btn-primary" style="width: 300px; font-size: 20pt;">Add a new memory</a><br>


  <!-- Memory list -->
  <ul class="memory-list">
    {% for memory in memories %}
      <li>{{ memory }}</li>
    {% empty %}
      <h2>There are no memories yet. Try adding a new one!</h2>
    {% endfor %}
  </ul>
</div>
  <!-- Logout button -->
  {# <a href="{% url 'logout' %}" class="btn btn-primary">Выйти</a> #}
{% endblock %}
